# CURSO EM VÍDEO - PYTHON 3 - MUNDO 3

<p>by geanclm</p>

---
<p>https://www.python.org/</p>

#Aula 16 – Tuplas

In [ ]:
# Tuplas são estruturas de dados imutáveis

In [ ]:
frutas = ('banana', 'abacaxi', 'uva', 'goiaba', 'banana', 'banana')

In [ ]:
for i in frutas:
    print (i, end=' ')

In [ ]:
for i in range(0, len(frutas)):
    print(frutas[i], end=' ')

In [ ]:
for i, fruta in enumerate(frutas):
    print (i+1, fruta)

In [ ]:
print (frutas[:])

In [ ]:
print(sorted(frutas))

In [ ]:
print(len(frutas))

In [ ]:
print(frutas.count('banana'))

In [ ]:
print(frutas.index('banana',1))

In [ ]:
# Exercício Python 72: Crie um programa que tenha uma dupla totalmente preenchida
# com uma contagem por extenso, de zero até vinte.
# Seu programa deverá ler um número pelo teclado (entre 0 e 20) e mostrá-lo por extenso.
# by geanclm in 17/03/2022 at 07:56h
tupla = ('zero', 'um', 'dois', 'três', 'quatro', 'cinco', 'seis', 'sete',
         'oito', 'nove', 'dez', 'onze', 'doze', 'treze', 'quatorze',
         'quinze', 'dezesseis', 'dezessete', 'dezoito', 'dezenove', 'vinte')
continua = ' '
while True:
    n = int(input('número [0-20]: '))
    if  0 <= n <= 20:
        print (f'''
        Você digitou o número {tupla[n]}''')
        continua = str(input('deseja continuar: ')).upper().strip()
        if continua not in 'S':
            break
    else:
        print(f'''
        DIGITE NOVAMENTE!''', end=' ')
print ('FIM DO PROGRAMA')

In [ ]:
# Exercício Python 73: Crie uma tupla preenchida com os 20 primeiros colocados da
# Tabela do Campeonato Brasileiro de Futebol, na ordem de colocação. Depois mostre:
# a) Os 5 primeiros times.
# b) Os últimos 4 colocados.
# c) Times em ordem alfabética.
# d) Em que posição está o time da Chapecoense, [Avaí] para esse caso
# by geanclm in 20/03/2022 at 10:25h

times = ('América-MG', 'Athletico-PR', 'Atlético-GO', 'Atlético-MG', 'Avaí', 'Botafogo',
         'Bragantino', 'Ceará', 'Corinthians', 'Coritiba', 'Cuiabá', 'Flamengo', 'Fluminense',
         'Fortaleza', 'Goiás', 'Internacional', 'Palmeiras', 'Santos', 'São Paulo', 'Juventude')

print ('-'*46)
print (f'''DOS TIMES DO BRASILEIRÃO
{times[:]}''')

print ('-'*46)
print (f'''Os cinco primeiros colocados da lista
{times[:5]}''')

print ('-'*33)
print (f'''Os quatro últimos colocados da lista
{times[-4:]}''')

print ('-'*33)
print(f'''Ordem alfabética
{(sorted(times))}''')

print ('-'*33)
print (f'O Avaí está na {(times.index("Avaí",1)+1)}ª posição da tabela')

In [37]:
# Exercício Python 074: Crie um programa que vai gerar cinco números aleatórios
# e colocar em uma tupla. Depois disso, mostre a listagem de números gerados
# e também indique o menor e o maior valor que estão na tupla.
# by geanclm in 21/03/2022 at 07:18h
from random import sample
tupla = sample(range(1, 10),5)

# maior = menor = 0
# for i in tupla:
#     if menor == 0:
#         menor = i
#     if i < menor:
#         menor = i
#     if i > maior:
#         maior = i

maior = max(tupla)
menor = min(tupla)

print (f'NÚMEROS gerados na tupla: {tupla}')
print (f'MAIOR número da sequência: {maior}')
print (f'MENOR número da sequência: {menor}')
print ('-'*33)
print (f'ORDEM CRESCENTE da sequência: {sorted(tupla)}')

NÚMEROS gerados na tupla: [3, 4, 6, 7, 9]
MAIOR número da sequência: 9
MENOR número da sequência: 3
---------------------------------
ORDEM CRESCENTE da sequência: [3, 4, 6, 7, 9]