# CURSO EM VÍDEO - PYTHON 3 - MUNDO 3

<p>by geanclm</p>

---
<p>https://www.python.org/</p>

#Aula 16 – Tuplas

In [ ]:
# Tuplas são estruturas de dados imutáveis

In [ ]:
frutas = ('banana', 'abacaxi', 'uva', 'goiaba', 'banana', 'banana')

In [ ]:
for i in frutas:
    print (i, end=' ')

In [ ]:
for i in range(0, len(frutas)):
    print(frutas[i], end=' ')

In [ ]:
for i, fruta in enumerate(frutas):
    print (i+1, fruta)

In [ ]:
print (frutas[:])

In [ ]:
print(sorted(frutas))

In [ ]:
print(len(frutas))

In [ ]:
print(frutas.count('banana'))

In [ ]:
print(frutas.index('banana',1))

In [ ]:
# Exercício Python 72: Crie um programa que tenha uma dupla totalmente preenchida
# com uma contagem por extenso, de zero até vinte.
# Seu programa deverá ler um número pelo teclado (entre 0 e 20) e mostrá-lo por extenso.
# by geanclm in 17/03/2022 at 07:56h
tupla = ('zero', 'um', 'dois', 'três', 'quatro', 'cinco', 'seis', 'sete',
         'oito', 'nove', 'dez', 'onze', 'doze', 'treze', 'quatorze',
         'quinze', 'dezesseis', 'dezessete', 'dezoito', 'dezenove', 'vinte')
continua = ' '
while True:
    n = int(input('número [0-20]: '))
    if  0 <= n <= 20:
        print (f'''
        Você digitou o número {tupla[n]}''')
        continua = str(input('deseja continuar: ')).upper().strip()
        if continua not in 'S':
            break
    else:
        print(f'''
        DIGITE NOVAMENTE!''', end=' ')
print ('FIM DO PROGRAMA')

In [ ]:
# Exercício Python 73: Crie uma tupla preenchida com os 20 primeiros colocados da
# Tabela do Campeonato Brasileiro de Futebol, na ordem de colocação. Depois mostre:
# a) Os 5 primeiros times.
# b) Os últimos 4 colocados.
# c) Times em ordem alfabética.
# d) Em que posição está o time da Chapecoense, [Avaí] para esse caso
# by geanclm in 20/03/2022 at 10:25h

times = ('América-MG', 'Athletico-PR', 'Atlético-GO', 'Atlético-MG', 'Avaí', 'Botafogo',
         'Bragantino', 'Ceará', 'Corinthians', 'Coritiba', 'Cuiabá', 'Flamengo', 'Fluminense',
         'Fortaleza', 'Goiás', 'Internacional', 'Palmeiras', 'Santos', 'São Paulo', 'Juventude')

print ('-'*46)
print (f'''DOS TIMES DO BRASILEIRÃO
{times[:]}''')

print ('-'*46)
print (f'''Os cinco primeiros colocados da lista
{times[:5]}''')

print ('-'*33)
print (f'''Os quatro últimos colocados da lista
{times[-4:]}''')

print ('-'*33)
print(f'''Ordem alfabética
{(sorted(times))}''')

print ('-'*33)
print (f'O Avaí está na {(times.index("Avaí",1)+1)}ª posição da tabela')

In [ ]:
# Exercício Python 074: Crie um programa que vai gerar cinco números aleatórios
# e colocar em uma tupla. Depois disso, mostre a listagem de números gerados
# e também indique o menor e o maior valor que estão na tupla.
# by geanclm in 21/03/2022 at 07:18h
from random import sample
tupla = sample(range(1, 10),5)

# maior = menor = 0
# for i in tupla:
#     if menor == 0:
#         menor = i
#     if i < menor:
#         menor = i
#     if i > maior:
#         maior = i

maior = max(tupla)
menor = min(tupla)

print (f'NÚMEROS gerados na tupla: {tupla}')
print (f'MAIOR número da sequência: {maior}')
print (f'MENOR número da sequência: {menor}')
print ('-'*33)
print (f'ORDEM CRESCENTE da sequência: {sorted(tupla)}')

NÚMEROS gerados na tupla: [3, 4, 6, 7, 9]
MAIOR número da sequência: 9
MENOR número da sequência: 3
---------------------------------
ORDEM CRESCENTE da sequência: [3, 4, 6, 7, 9]

In [ ]:
# https://www.cursoemvideo.com/apoie/
# Exercício Python 075: Desenvolva um programa que leia quatro valores pelo teclado
# e guarde-os em uma tupla. No final, mostre:
# A) Quantas vezes apareceu o valor 9.
# B) Em que posição foi digitado o primeiro valor 3.
# C) Quais foram os números pares.
# by geanclm in 22/03/2022 at 07:06h


tupla = (
    int(input('digite o primeiro número inteiro: ' )),
    int(input('digite o seguento número inteiro: ' )),
    int(input('digite o tereceiro número inteiro: ' )),
    int(input('digite o último número: ' ))
    )

# visualização dos resultados finais
print ('-'*33)
print (f'Valores registrados na tupla: {tupla}')
print ('-'*33)

# verificação e visualização da entrada dos dados
if 9 in tupla:
    print (f'O número 9 apareceu {tupla.count(9)} vez(es)')
else:
    print ('O número 9 não foi registrado na tupla!')
if 3 in tupla:
    print (f'O número 3 está na posição {tupla.index(3,1)+1}ª da tupla')
else:
    print ('O número 3 não foi registrado na tupla!')
print (f'A tupla tem os seguintes números pares: {[i for i in tupla if i%2 == 0]}')

digite o primeiro número inteiro: 1
digite o seguento número inteiro: 2
digite o tereceiro número inteiro: 4
digite o último número: 6
---------------------------------
Valores registrados na tupla: (1, 2, 4, 6)
---------------------------------
O número 9 não foi registrado na tupla!
O número 3 não foi registrado na tupla!
A tupla tem os seguintes pares: [2, 4, 6]

In [ ]:
# Exercício Python 076: Crie um programa que tenha uma tupla única com
# nomes de produtos e seus respectivos preços, na sequência.
# No final, mostre uma listagem
# de preços, organizando os dados em forma tabular.
# by geanclm in 23/03/2022 at 06:46h

produtos = ('lápis',1.75, 'borracha', 2, 'Caderno', 15.90, 'Estojo', 25.00,
            'Tranferidor', 4.2, 'Compasso', 9.9, 'Mochila', 120.3,
            'Canetas', 22.30, 'Livro', 34.9)

print ('-'*33)
print ('{:-^33}'.format('| LISTAGEM DE PREÇOS |'))
print ('-'*33)
for i in (range(0,len(produtos))):
    if i%2==0:
        print (f'{produtos[i]:.<23}', end=' ')
    elif i%2!=0:
        print (f'R${produtos[i]:>7,.2f}')
print ('-'*33)

In [ ]:
# Exercício Python 077: Crie um programa que tenha uma tupla com várias palavras
# (não usar acentos). Depois disso, você deve mostrar, para cada palavra, quais são as suas vogais.
# by geanclm in 24/03/2022 at 07:01h

tupla = ('motocicleta','CARRO', 'CASA', 'MOTO', 'BARCO', 'BICICLETA', 'TREM', 'UBER')
for i in tupla:
    print (f'\nNa palavra {i} temos:', end=' ')
    # if 'A' in i:
    #     print ('a', end=' ')
    # if 'E' in i:
    #     print ('e', end=' ')
    # if 'I' in i:
    #     print ('i', end=' ')
    # if 'O' in i:
    #     print ('o', end=' ')
    # if 'U' in i:
    #     print ('u', end=' ')
    for letra in i:
        if letra in 'aeiouAEIOU':
            print (letra, end=' ')

# Aula 17 – Listas (Parte 1)

In [ ]:
lista01 = []

In [ ]:
lista02 = list()

In [ ]:
lista = ['gean', 'carlos', 'cientista', 'dados', 'machine learning', 'dados']

In [ ]:
lista

In [ ]:
# del lista[3]
# lista.pop(4)
lista.remove('dados')

In [ ]:
if 'dados' in lista:
    lista.remove('dados')
else:
    print ('dados inexistentes')

In [ ]:
valores = list(range(1,26,5))

In [ ]:
print (valores, end=' ')

In [ ]:
lista2 = [2,9,8,1,6,0,7,2,3]

In [ ]:
lista2

In [ ]:
print(sorted(lista2, reverse=True))

In [ ]:
len(lista2)

In [ ]:
lista2.append(999)

In [ ]:
lista2.insert(1,888)

In [ ]:
valores = []
for i in range(0,2):
    valores.append(input('digite um números: '))
print('-'*15)
for i,n in enumerate(valores):
    print (i,n)

In [ ]:
a = [1,2,3,4,5]
b = a[:]
b[2] = 888
print(f'lista a: {a}')
print(f'lista a: {b}')

In [ ]:
# https://docs.python.org/pt-br/3/tutorial/datastructures.html?highlight=tupla

# Exercício Python 078: Faça um programa que leia 5 valores numéricos e guarde-os em uma lista.
# No final, mostre qual foi o maior e o menor valor digitado e as suas respectivas posições na lista.
# by geanclm in 25/03/2022 at 09:12h

lista = []
maior = menor = 0

for i in range(0,5):
    lista.append(int(input(f'digite um valor na posição {i}: ')))
    if menor == 0:
        menor = lista[i]
    if lista[i] > maior:
        maior = lista[i]
    if lista[i] < menor:
        menor = lista[i]

print('-'*15)        
print(f'LISTA completa:', end=' ')
for i in lista:
    print(f'{i}', end=' ')
print('\n')

print(f'MENOR valor digitado: {menor}, posição(ões)', end=' ')
for i,n in enumerate(lista):
    if n == menor:
        print(f'{i}... ', end=' ')
print(f'\nMAIOR valor digitado: {maior}, posição(ões)', end=' ')
for i,n in enumerate(lista):
    if n == maior:
         print(f'{i}... ', end=' ')

digite um valor na posição 0: 1
digite um valor na posição 1: 8
digite um valor na posição 2: 8
digite um valor na posição 3: 2
digite um valor na posição 4: 1
---------------
LISTA completa: 1 8 8 2 1

MENOR valor digitado: 1, posição(ões) 0...  4...
MAIOR valor digitado: 8, posição(ões) 1...  2...

In [ ]:
# Exercício Python 079: Crie um programa onde o usuário possa digitar vários valores
# numéricos e cadastre-os em uma lista. Caso o número já exista lá dentro, ele não será adicionado.
# No final, serão exibidos todos os valores únicos digitados, em ordem crescente.
# by geanclm in 29/03/2022 at 05:30h

lista = []
while True:
    n = int(input(f'digite um número: '))
    if n not in lista:
        lista.append(n)
    else:
        print (f'valor {n} já existente na lista!')
    continua = str(input('continua? [S/N]: ')).upper().strip()
    if continua not in 'S':
        break
print (sorted(lista))

In [ ]:
# Exercício Python 080: Crie um programa onde o usuário possa digitar cinco valores
# numéricos e cadastre-os em uma lista, já na posição correta de inserção (sem usar o sort()).
# No final, mostre a lista ordenada na tela.
# by geanclm in 03/30/2022 at 07:04h
lista = []
for i in range(0,5):
    n = int(input('digite um número inteiro: '))
    if (i == 0) or (n > lista[-1]):
        lista.append(n)
        print (f'O valor {n} foi inserido no final da lista')
    else:
        c = 0
        while c < len(lista):
            if n <= lista[c]:
                lista.insert(c,n)
                print (f'O valor {n} foi inserido na posição {c} da lista')
                break
            c += 1
print('-'*33)  
print (lista)

In [ ]:
# Exercício Python 081: Crie um programa que vai ler vários números e colocar em uma lista.
# Depois disso, mostre:
# A) Quantos números foram digitados.
# B) A lista de valores, ordenada de forma decrescente.
# C) Se o valor 5 foi digitado e está ou não na lista.
# by geanclm in 02/04/2022 at 06:51h
lista = []
while True:
    lista.append(int(input(f'digite um número: ')))
    continua = str(input('continua? [S/N]: ')).upper().strip()
    if continua not in 'S': break
print('-'*33)
print (f'lista de números: {lista}')
print (f'quantidade de números: {len(lista)}')
print (f'ordem decrescente: {sorted(lista, reverse=True)}')
if 5 in lista:
    print ('O número 5 está na lista')
else:
    print ('O valor 5 não foi encontrado da lista')

In [ ]:
# Exercício Python 082: Crie um programa que vai ler vários números e colocar em uma lista.
# Depois disso, crie duas listas extras que vão conter apenas os valores pares e os valores
# ímpares digitados, respectivamente. Ao final, mostre o conteúdo das três listas geradas.
# by geanclm in 02/04/2022 at 07:26h
lista = pares = ímpares = []
while True:
    lista.append(int(input(f'digite um número: ')))
    continua = str(input('continua? [S/N]: ')).upper().strip()
    if continua not in 'S': break
for i in lista:
    if i%2 == 0:
        pares.append(i)
    else:
        ímpares.append(i)
print('-'*33)
print(f'lista completa: {lista}')
print(f'pares: {pares}')
print(f'ímpares: {ímpares}')

In [ ]:
# Exercício Python 083: Crie um programa onde o usuário digite uma expressão qualquer que use parênteses.
# Seu aplicativo deverá analisar se a expressão passada está com os parênteses abertos
# e fechados na ordem correta.
# by geanclm in 02/04/2022 at 08:28h
lista = []
expr = str(input(f'digite uma expressão matemática: '))
for i in expr:
    lista.append(i)
if (lista.count('(')) == lista.count(')'):
    print ('EXPRESSÃO VÁLIDA')
else:
    print ('EXPRESSÃO INVÁLIDA')

# Aula 18 – Listas (Parte 2)

In [9]:
equipe1 =[['geanclm', 11],['gclm', 22],['clm', 33],['lm', 44]]
equipe2 =[['Gean', 10],['Carlos', 20],['Luciano', 30],['Madeira', 40]]

In [ ]:
galera[0][0]

In [ ]:
for i in equipe1:
    print (f'name: {i[0]} code: {i[1]}')

In [11]:
equipe2.append(equipe1[:])

In [ ]:
equipe2

In [ ]:
equipe2[4][0][0]

In [ ]:
for i in equipe2:
    print (i[0])

In [ ]:
dados = []
for i in range(0,3):
    dados.append(str(input('nome: ')))
    dados.append(int(input('idade: ')))
    equipe2.append(dados[:])
    dados.clear()

In [ ]:
menor = maior = 0
for j in equipe1:
    if j[1] >= 21:
        print (f'{j[0]} tem code acima de 21')
        maior += 1
    else:
        print (f'{j[0]} tem code abaixo de 21')
        menor += 1
print ('-'*33)
print (f'TOTAL DE CODE ACIMA DE 21: {maior}')
print (f'TOTAL DE CODE ABAIXO DE 21: {menor}')